
.body{
    width: 950px;
}
.div1{
    display: flex;
    flex-direction: row;
    background-color: black;
    color: #e0dad6;
    font-family: Poppins, Inter;
    width: 830px;
    flex-wrap: wrap;
    
    
}
.headings,ul{
    display: flex;
    
    justify-content: center;
    list-style: none;
    
    
}
.agriplus{
    padding: 0% 9% 0% 3%;
}
.home{
    padding: 0% 3%;
    text-decoration: underline;
    text-decoration-color: #ED661F;
    text-decoration-thickness :3px ;
    text-underline-offset:5px ;
}
.about{
    padding: 0% 2%;
}
.products{
    padding: 0% 2%;
}
.contacts{
    padding: 0% 2%;
}

.started{
    padding: 0% 30% 17% 17%; 
    background-color:   #ED661F ;
    height: 17%;
    width: 40%;
    margin-left: 17%;
    float: inline-end;
    
}
.login_get{
    float: left;
    display: flex;
    padding-left: 23%;
    flex-wrap: nowrap;
}
.login{
    padding: 3%;
}
.div2{
    display: flex;
    flex-direction: row;
    margin-top: 5%;
    
}
/* .para1{
    font-weight: 900;

} */
/* .para2{
     margin-top: -0.5%;
} */
.div3{
    display: flex;
    width: 950px;
    flex-direction: row;
    padding-left: 5%;

}
.h31{
    
position:absolute ;
padding-bottom: 20%
/* text-decoration-line: underline */
;

}
.pd31{
    padding-top: 7%;
    border-width: 50% ;
    
}
.picha{
    
    /* background-color: rgb(39, 39, 172);
    border: #ED661F; */
    /* border-image: url("../Agriplus/image/image\ 3.png")50% round; */
    border: 20% solid transparent;
    
}
.div4{
    /* display: flex;
    align-items: center;
    justify-items: center;
    padding-left: 15%; */
    /* align-items: center;  */
    
}
/* .category{
align-items: center;
padding: 0% 0% 25% 20%;
position: absolute;
} */
.para3{
    padding: 8% 30% 24% 5%;
}
.div5{
 
    display: flex;
    flex-direction: row;
    width: 950px;
}
.most{
    
    text-decoration: underline;
    text-decoration-color: #ED661F;
    text-decoration-thickness: 25%;
    text-underline-offset: 5%;
}
.divpics1{
    padding-top: 5%;
    padding-right: 30%;
    display: flex;
}
.cereals{
    margin-left: 5%;
}
.fish{
    margin-left: 5%;
}
.kales{
    margin-left: 5%;
}
.newest{
    text-decoration: underline;
    text-decoration-color: #ED661F;
    text-decoration-thickness: 25%;
    text-underline-offset: 5%;
}
.div6{
    display: flex;
    flex-direction: row;
    width: 10%;
}
.Ahero{
    margin-left: 5%;
}
.Mursik{
    margin-left: 5%;
}
.Tomatoes{
    margin-left: 5%;
}
.divpics2{
    padding-top: 5%;
    padding-right: 30%;
    display: flex;
}
.h32{
text-align: right;
padding-top: 29%;
flex-wrap: wrap;
text-decoration: underline;
    text-decoration-color: #ED661F;
    text-decoration-thickness: 25%;
    text-underline-offset: 5%;
padding-right: 100%;
justify-content: flex-end;
}
.div7{
    box-shadow: 5px 10px #888888;
    
    
}
.stars1,fa{
    color: #ED661F;
}
.Rebecca{
    display: flex;
    /* width: 25%;
    border: #88888https://github.com/Osca254/Agriplus-8; */
    
}
/* .h34{
    padding-left: 15%;
} */
.Rebecca,p{
    width: 200px;
}
.div8{display: flex;
    /* border-bottom: #888888 solid;
    border-bottom: -4%; */
    width: 950px;
    /* justify-content: center;
    align-content: center; */
    grid: 10px;
    
} 
.stars2{
    padding-top: 1%;
}
.stars2,fa{
    color: #ED661F;
}
.John{
    display: flex;
    /* margin-left: 200px; */
}
.h35{
    padding-left: 10%;
}
.stars3,fa{
    color: #ED661F;
}
.Lavington{
    display: flex;
}
/* .h36{
    padding-left: 10%;
} */
.div9{
    display: flex;
    margin-top: 5%;
background-color: black;
width: 830px;
}
.h41{
    /* text-align: center; */
    color: #e0dad6;
    /* padding-top: 2%; */
}

.sub{
    background-color: #ED661F;
    width: left 2%;
}
.p20{
    color: #e0dad6;
    /* text-align: center;
    padding-left: 10%; */

}
.icons,fa{
    color: #e0dad6;
    border-radius: 10%;
    
}
.div11{
    background-color: black;
    padding-left: 5%;
    display: flex;
    flex-direction: row;
    width: 800px;
    margin-top: 1%;
    height: 300px;
}
.icons{
    padding-bottom: 20%;
}
.div11,h2{
    color: #e0dad6;
}
.store1{
    display: flex;
    color: black;
    background-color: #e0dad6;
    border-radius: 5%;
    /* padding: 2%;
    padding-right: 3%; */
    /* padding-bottom: 5%; */
    width: 100px;
    height: 40px;
    justify-content: center;
    align-content: center;
}
.store{
    display: flex;
    /* flex-wrap: nowrap;
    justify-content: center;
    align-content: center; */
    
    
}
.store2{
    display: flex;
    color: black;
    background-color: #e0dad6;
    border-radius: 5%;
    /* padding: 2%;
    padding-right: 3%;
    padding-bottom: 5%; */
    width: 100px;
    height: 40px;
    justify-content: center;
    align-content: center;
    margin-left: 10px;
}
    .div12{
        list-style: none;
        /* float: right; */
        /* padding: 100px 0px 0px 300px; */
    }
    .ol1{
        list-style: none;
        color: #e0dad6;
    }
    .div13{
        display: flex;
    }
    .ol2{
        list-style: none;
    }
    .ol3{
        list-style: none;
    }
    /* .terms{
        float: left;
    } */
    /* .quality{
        width: 20px;
    } */
    .john{
        padding-bottom: 30px;
        padding-left: 7%;
        border: #888888 solid;
        border-top: transparent;
    }
    .lavington{
        padding-bottom: 30px;
        padding-left: 7%;
        border: #888888 solid;
        border-top: transparent;
        
    }
    .rebeca{
        border: #888888 solid;
        padding-bottom: 30px;
        padding-left: 7%;
        border-collapse: separate;
        border-top: transparent;
        
    }
    .rig{
    padding-top: 40%;
    padding-right: 200px;
    }
    .inputt{
        padding-left: 6%;
        padding-top: 10%;
    }
    /* .dow{
        padding-bottom: 3%;
    } */
    .p33{
        padding-bottom: 30px;
    }
    .para3{
        
    }
    .back{
        background-image: url(image/oscar.png);
    background-size: contain;
    box-sizing: border-box;  

    display: flex;
    }
    .explore{
        color: aliceblue;
        background-color: #ED661F;
        width: 120px;
        height: 50px;
        padding-top: 2%;
    }
    .proof{
        display: flex;
        border: #888888 solid;
        width: 580px;
        border-left: transparent;
        border-right: transparent;
        border-top: transparent;
        background-color: #f5f3f1;
        margin-top: 30%;
    }
    .proof3{
        padding-top: 2%;
    }
    .tomatoes{
        margin-left: 100px;
    }
   
    